h1 {color: red;
    margin-left: 20px;
    font-family: 'Edu SA Beginner', cursive;}
p {color: blue;}


 .A {color:red}

 .B {color:blue}

 #title {color :purple;}

 .first-container {
	border-width: 10 px;
	position:relative;
	max-height: 30%;
	margin: 10px auto 10px auto;
	padding: 10%
    

}
        
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
#r {
    height: 200px;
    width: 200px;
    background-color: red;
    position: absolute;
    right:80px;
    top: 40px;
   }
   
   #g {
    height: 200px;
    width: 200px;
    background-color: green;
    position: absolute;
    left:40px;
    top: 80px;
   }
   
   #b {
    height: 200px;
    width: 200px;
    background-color: blue;
   }
   .btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #b82b84);
    background-image: -moz-linear-gradient(top, #3498db, #b82b84);
    background-image: -ms-linear-gradient(top, #3498db, #b82b84);
    background-image: -o-linear-gradient(top, #3498db, #b82b84);
    background-image: linear-gradient(to bottom, #3498db, #b82b84);
    -webkit-border-radius: 19;
    -moz-border-radius: 19;
    border-radius: 19px;
    font-family: Arial;
    color: #ffffff;
    font-size: 27px;
    padding: 8px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #b2d934);
    background-image: -moz-linear-gradient(top, #3cb0fd, #b2d934);
    background-image: -ms-linear-gradient(top, #3cb0fd, #b2d934);
    background-image: -o-linear-gradient(top, #3cb0fd, #b2d934);
    background-image: linear-gradient(to bottom, #3cb0fd, #b2d934);
    text-decoration: none;
  }

  .first-container {
    border-width: 10 px;
    position:relative;
    max-height: 30%;
    margin: 10px auto 10px auto;
    padding: 10%;
    background-color : pink
  }
  .first-container {
    border-width: 10 px;
    position:relative;
    max-height: 30%;
    margin: 10px auto 10px auto;
    padding: 10%
  }
  #r {
    height: 200px;
    width: 200px;
    background-color: red;
    position: absolute;
    right:80px;
    top: 40px;
   }
   
   #g {
    height: 200px;
    width: 200px;
    background-color: green;
    position: absolute;
    left:40px;
    top: 80px;
   }
   
   #b {
    height: 200px;
    width: 200px;
    background-color: blue;
   }
   
   
